body {
	background-image: url("../images/background1.jpg");
}

.jumbotron {
	margin-top: 60px;
	background-color: #fff;
	border: 5px solid #ea1;
}

h1 {
	font-family: 'Shojumaru', cursive;
	font-size: 3.5em;
}

h2, h3, h4, .labelTxt {
	font-family: 'Shojumaru', cursive;
}

.labelTxt {
	font-size: 1.25em;
	padding: 0;
}

.form-check {
	padding: 0;
	margin: 0;
}

.form-group {
	width: 100%;
}

.img-fluid {
	border: 1px solid #ea1;
}